// ======================================================
// Abstracts :: Variables
// ======================================================

// Color
$white: #fff;
$black: #000;

// Paths
$path-image: '../images';
$path-fonts: '../fonts';

// Fonts

// >> Font-size

// >> Font icon

// >> Font-weight

// Borders

// z-index

